{
  "extends": ["airbnb-base", "plugin:security/recommended"],
  "plugins": [
    "security"
  ],
  "env": {
    "node": true,
    "jest": true
  },
  "settings": {},
  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaVersion": 2018
  },
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["_id", "__v"] }],
    "max-len": ["error", { "code": 120 }]
  }
}
